* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  --body-color: #AAA;
  /* --container-color: hsl(36, 52%, 88%); */
  --container-color: red;
  --hdr-ftr-color: rgb(60, 75, 170);
  --main-red: #D00;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  /* height: 100vh; */
  /* width: calc(100vw - (100vw - 100%)); */
  width: 100%;
  display: flex;
  justify-content: center;
  /* padding-left: 5vmin; */
  /* padding-right: 5vmin; */
  /* overflow: visible; */
  background: var(--body-color);
  /* position: relative; */
}

.container {
  position: absolute;
  /* margin: 0 50%; */
  font-size: calc(1rem + 1vmin);
  /* transform: translateX(-50%); */
  width: 100%;
  min-width: 312px;
  max-width: 160vmin;
  display: flex;
  /* padding-left: 5vmin; */
  /* padding-right: 5vmin; */
  flex-direction: column;
  align-items: center;
  background: var(--container-color);
  clip-path: polygon(
    calc(50% + 50vmin) 0%,
    100% 100%,
    0% 100%,
    calc(50% - 50vmin) 0%
  );
}

.container > * {
  width: 92%;
  max-width: 92vmin;
}

.header {
  /* font-family: 'Josefin Sans', sans-serif; */
  position: absolute;
  width: 100%;
  margin: 0;
  max-width: none;
  height: 55vh;
  max-height: 60vw;
  display: flex;
  justify-content: center;
  background: var(--hdr-ftr-color);
  color: var(--container-color);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 78%, 0 100%);
}

.header__title {
  padding-top: 6vmin;
  width: 92%;
  max-width: 92vmin;
  font-size: 7.8vmin;
  font-weight: bold;
}

.header__comet {
  position: absolute;
  margin-top: 8.8vmin;
  background-color: var(--main-red);
  clip-path: polygon(101% 104%, 0 50%, 101% -4%);
  height: 4vmin;
  width: 65vmin;
  border-radius: 0 2vmin 2vmin 0;
  transform: rotate(-10deg) translateX(-5%);
  z-index: -1;
}

.hero {
  position: relative;
  margin-top: 20vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 90vmin; */
  height: 60vh;
  max-height: 90vw;
  overflow: hidden;
  clip-path: polygon(
    50% 0,
    calc(102% - 2vw) 10%,
    100% 50%,
    calc(102% - 2vw) 90%,
    50% 100%,
    calc(-2% + 2vw) 90%,
    0 50%,
    calc(-2% + 2vw) 10%
  );
}

.hero:hover {
  cursor: pointer;
}

.hero__canvas {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.hero__img-div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.hero__image {
  position: absolute;
  object-fit: cover;
  opacity: 0;
  height: 100%;
  width: auto;
  transition: opacity 1000ms ease-in-out;
}

.hero__image--current {
  opacity: 1;
  transition: opacity 1000ms ease-in-out;
}

.hero__img-info {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: auto;
  background-color: rgb(60, 75, 170);
  opacity: 0.7;
  font-size: calc(0.5em + 0.42vmin);
  padding: 2vmin 6.6vmin 10vmin;
  color: white;
  transition: transform 400ms ease-in;
}


.slide-out {
  transform: translateY(0);
  transition: transform 400ms ease-out;
}

.info {
  background-color: blue;
  position: relative;
  width: 100%;
  /* max-width: 96vmin; */
  max-width: 100vmin;
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: space-around; */
  padding: 2vmin 2vmin 31vh;
}

.info__block {
  /* border: 0; */
  margin: 2vmin;
  background-color: white;
  /* flex: 0 1 47.75%; */
  /* flex: 1 1 47.75%; */
  flex: 1 1 44vmin;
  min-width: 312px;
  /* max-width: 44vmin; */
  /* margin: 2.5vmin; */
  padding: 3vmin;
  /* max-width: 48%; */
  /* width: 42.5vmin; */
}

.info__block--quote {
  /* min-width: 100%; */
  width: 100%;
  max-width: none;
  font-style: italic;
  color: #777;
  /* padding: 4vmin; */
}

.info__block--quote > q {
  display: block;
  padding-left: 2vmin;
  border-left: 4px solid var(--main-red);
}


.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  max-width: none;
  /*   margin: 0; */
  height: 30vh;
  max-height: 90vw;
  background: var(--hdr-ftr-color);
  clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.footer > * {
  height: 100px;
  width: 100vmin;
  /* max-width: 90vmin; */
  background-color: yellow;
}


/* Use cherry color for links, reference to Carl's sweater: #8c1212; */
