* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  /* --body-color: hsl(246, 30%, 25%); */
  /* --body-color: #371A1E; */
  --body-color: #AAA;
  --container-color: hsl(36, 52%, 90%);
  /* --hdr-ftr-color: hsl(36, 52%, 78%); */
  /* --hdr-ftr-color: rgb(120, 65, 65); */
  /* --hdr-ftr-color: rgb(140, 74, 69); */
  --hdr-ftr-color: rgb(130, 50, 46);
}

body {
  font-family: Arial;
  color: #444;
  height: 100vh;
  background: var(--body-color);
  position: relative;
}

.container {
  position: absolute;
  margin: 0 50%;
  font-size: calc(1rem + 1vmin);
  transform: translateX(-50%);
  width: 100%;
  min-width: 312px;
  padding: 0 3.2vmin;
  max-width: 160vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--container-color);
  clip-path: polygon(
    calc(50% + 53.2vmin) 0%,
    100% 100%,
    0% 100%,
    calc(50% - 53.2vmin) 0%
  );
  overflow: visible;
}

.container > * {
  width: 100%;
  max-width: 100vmin;
}

.container__header {
  font-family: 'Josefin Sans', sans-serif;
  position: absolute;
  padding: 0 3.2vmin;
  margin: 0;
  width: 100%;
  max-width: none;
  height: 52.2vh;
  max-height: 60vw;
  display: flex;
  justify-content: center;
  background: var(--hdr-ftr-color);
  color: var(--container-color);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 78%, 0 100%);
}

.container__title {
  padding-top: 5.7vmin;
  width: 100%;
  max-width: 100vmin;
  font-size: 7.8vmin;
  font-weight: bold;
}

.container__hero {
  position: relative;
  margin-top: 18vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(36, 54%, 90%);
  width: 100%;
  height: 60vh;
  max-height: 90vw;
  padding-bottom: 3%;
  overflow: hidden;
  clip-path: polygon(
    50% 0,
    calc(102% - 2vw) 10%,
    100% 50%,
    calc(103% - 2.75vw) 100%,
    calc(-3% + 2.75vw) 100%,
    0 50%,
    calc(-2% + 2vw) 10%
  );
}

#porthole {
  background-color: green;
  position: absolute;
  top: 0;
  margin: auto;
  height: 97%;
  width: 100%;
  clip-path: polygon(
    50% 0,
    calc(102% - 2vw) 10%,
    100% 51%,
    calc(102% - 2vw) 90%,
    50% 100%,
    calc(-2% + 2vw) 90%,
    0 51%,
    calc(-2% + 2vw) 10%
  );
}

#c {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

#img-div {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  /*     opacity: 0.5; */
  /* opacity: 0; */
}

#img-div img {
  object-fit: cover;
  height: 100%;
  width: auto;
  transition: filter 600ms ease-in-out, opacity 1000ms ease-in-out;
}


.fade-out {
  filter: blur(10px);
  opacity: 0;
  transition: filter 600ms ease-in-out, opacity 1000ms ease-in-out;
}

/* #img-div:hover img {
  filter: blur(10px);
  opacity: 0;
  transition: filter 600ms ease-in-out, opacity 1000ms ease-in-out;
} */

/* #img-div:hover .container__img-info {
  transform: translateY(100%);
  transition: transform 600ms ease-in-out;
} */

.container__img-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: green;
  opacity: 0.6;
  height: 22%;
  transition: transform 600ms ease-in-out;
}

#tribute-info {
  padding-top: 2vmin;
  padding-bottom: 31vh;
}

.container__img-info {
  text-align: center;
  font-size: calc(1rem + 0.6vmin);
  padding: 1em;
  color: white;
}

.container__quotes {
  width: 100%;
  background-color: white;
  padding: 1em;
  border-radius: 2vmin;
  margin-bottom: 2vmin;
}

.container__quote {
  font-style: italic;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: none;
  /*   margin: 0; */
  height: 30vh;
  max-height: 90vw;
  background: var(--hdr-ftr-color);
  clip-path: polygon(50% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
}

/* get rid of container__bg and make header and footer have clip path. Have them be same size, like 20 vmin for example. Header should be absolute, or hero should be instead.*/

/* If you wish to make an apple pie from scratch, you must first invent the universe. */

/* Use cherry color for links, reference to Carl's sweater: #8c1212; */
